export(fitBMA)
export(getBMA)
export(plot2BMA)
export(plotBMA)
export(summaryBMA)
exportClasses(BMA)
exportMethods(fitBMA)
exportMethods(getBMA)
exportMethods(initialize)
exportMethods(plot2BMA)
exportMethods(plotBMA)
exportMethods(summaryBMA)
